<!-- partial:partials/_footer.html -->

<!-- <footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
  </div>
</footer> -->


<!-- partial -->

<!-- </div> -->

<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get the search query from the URL
    var searchQuery = new URLSearchParams(window.location.search).get('search');

    if (searchQuery) {
      // Hide pagination buttons when there is a search query
      var paginationButtons = document.getElementById('paginationButtons');
      if (paginationButtons) {
        paginationButtons.style.display = 'none';
      }
    }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get the page name from the URL
    var pageName = window.location.pathname.split('/').pop();
    var searchBar = document.getElementById('searchInput');

    // Compare pageName to a string (assuming it's case-sensitive)
    if (pageName === 'Users') {
      if (searchBar) {
        searchBar.placeholder = 'Search for user name, email, mobile';
      }
    } else if (pageName === 'viewCategory') {
      if (searchBar) {
        searchBar.placeholder = 'Search for category';
      }
    } else if (pageName === 'viewProduct') {
      if (searchBar) {
        searchBar.placeholder = 'Search for Product';
      }
    } else if (pageName === 'orders') {
      if (searchBar) {
        searchBar.placeholder = 'Search for Orders';
      }
    } else if (pageName === 'viewCoupon') {
      if (searchBar) {
        searchBar.placeholder = 'Search for Coupon';
      }
    } else if (pageName === 'salesReport') {
      if (searchBar) {
        searchBar.placeholder = 'Search for salesReport';
      }
    } else {
      if (searchBar) {
        searchBar.style.display = 'none';
      }
    }
  });
</script>




<!-- plugins:js -->
<script src="/car/adminAssets/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/car/adminAssets/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/car/adminAssets/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/car/adminAssets/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/car/adminAssets/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/car/adminAssets/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/car/adminAssets/assets/js/off-canvas.js"></script>
<script src="/car/adminAssets/assets/js/hoverable-collapse.js"></script>
<script src="/car/adminAssets/assets/js/misc.js"></script>
<script src="/car/adminAssets/assets/js/settings.js"></script>
<script src="/car/adminAssets/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/car/adminAssets/assets/js/dashboard.js"></script>
<!-- End custom js for this page -->

<!-- Custom js for chart.js -->
<!-- <script src="/car/adminAssets/assets/js/chart.js"></script> -->
<!-- End custom js for chart.js -->

</body>

</html>