<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/car/adminAssets/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/car/adminAssets/assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/car/adminAssets/assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/car/adminAssets/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/car/adminAssets/assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/car/adminAssets/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/car/adminAssets/assets/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/car/adminAssets/assets/images/favicon2.png" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
</head>

<body>
  <div class="container-scroller">
