.adminLogin *:not(body),
.adminLogin *:before,
.adminLogin *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.adminLogin{
    background-color: #080710;
}

.adminLogin .background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.adminLogin .background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.adminLogin .shape:first-child {
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}

.adminLogin .shape:last-child {
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}

.adminLogin form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.adminLogin form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.adminLogin form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.adminLogin label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.adminLogin input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.adminLogin ::placeholder {
    color: #e5e5e5;
}

.adminLogin button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}



/* user register */



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.register * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.register{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}

.register .wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.register .wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.register .wrapper form {
  margin-top: 30px;
}

.register .wrapper form .input-box {
  height: 52px;
  margin: 18px 0;
}

.register form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.register .input-box input:focus,
.register .input-box input:valid {
  border-color: #4070f4;
}

.register form .policy {
  display: flex;
  align-items: center;
}

.register form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.register .input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}

.register .input-box.button input:hover {
  background: #0e4bf1;
}

.register form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}

.register form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}

.register form .text h3 a:hover {
  text-decoration: underline;
}

.register .successfully{
  text-align: center;
}

.successfully{
  text-align: center;
}