<%- include('./layouts/header2.ejs') %>

    <section class="ftco-section bg2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h5 class="mb-4">Enter New Password</h5>
                                </div>
                            </div>
                            <form class="signin-form" action="/forgotPassword" method="post"
                                onsubmit="return validatePasswords();">

                                <div class="form-group">
                                    <input id="password-field" type="password" class="form-control" name="password"
                                        required>
                                    <label class="form-control-placeholder" for="password">Password</label>
                                    <span toggle="#password-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <span id="password-error" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input id="confirmPassword-field" type="password" class="form-control"
                                        name="confirmPassword" required>
                                    <label class="form-control-placeholder" for="confirmPassword">Confirm
                                        Password</label>
                                    <span toggle="#confirmPassword-field"
                                        class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    <span id="confirmPassword-error" class="text-danger"></span>
                                </div>

                                <input type="hidden" name="id" value="<%= user_id %>">

                                <% if (typeof message !=='undefined' ) { %>
                                    <p class="successfully text-danger">
                                        <%= message %>
                                    </p>
                                <% } %>

                                        <div class="form-group">
                                            <button type="submit"
                                                class="form-control btn btn-primary rounded submit px-3">Submit</button>
                                        </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function validatePasswords() {
            const passwordField = document.getElementById('password-field').value;
            const confirmPasswordField = document.getElementById('confirmPassword-field').value;

            const passwordRegex = /^(?=.*[!@#$%^&*]).{6,}$/;

            // Reset error messages
            document.getElementById('password-error').textContent = '';
            document.getElementById('confirmPassword-error').textContent = '';

            if (!passwordField || !passwordRegex.test(passwordField)) {
                document.getElementById('password-error').textContent = 'Password must be at least 6 characters and contain a special character.';
                return false;
            }

            if (!confirmPasswordField || passwordField !== confirmPasswordField) {
                document.getElementById('confirmPassword-error').textContent = 'Passwords must match.';
                return false;
            }

            return true;
        }

    </script>

    <%- include('./layouts/footer2.ejs') %>