<%- include('./layouts/header2.ejs') %>


    <section class="ftco-section bg2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h5 class="mb-4">Lost your password? <br> Please enter your registered email address.</h5>
                                </div>
                            </div>
                            <form class="signin-form" action="/forget" method="post">
                                <div class="form-group mt-3">
                                    <input type="email" class="form-control" id="email" name="email" required>
                                    <label class="form-control-placeholder" for="email">Email</label>
                                </div>

                                <% if (typeof message !=='undefined' ) { %>
									<p class="successfully text-danger">
										<%= message %>
									</p>
								<% } %>

                                <div class="form-group">
                                    <button type="submit"
                                        class="form-control btn btn-primary rounded submit px-3">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('./layouts/footer2.ejs') %>