<%- include('./layouts/header.ejs') %>

	<section class="ftco-section">
		<div class="container">
			<!-- <div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">SHOPIFY</h2>
				</div>
			</div> -->
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<!-- <div class="img" style="background-image: url(car/userAssets/login/images/bg-1.jpg);"></div> -->
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign In</h3>
			      		</div>
								<!-- <div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div> -->
			      	</div>
							<form action="/login" class="signin-form" method="post" onsubmit="return validateLoginForm()">
			      		<div class="form-group mt-3">
			      			<input type="email" class="form-control" id="email" name="email" required>
			      			<label class="form-control-placeholder" for="email">Email</label>
			      		</div>
		            <div class="form-group">
		              <input id="password-field" type="password" class="form-control" id="password" name="password" required>
		              <label class="form-control-placeholder" for="password">Password</label>
		              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
		            </div>
                <% if (typeof message !== 'undefined') { %>
                  <p class="successfully"><%= message %></p>
                <% } %>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
		            </div>
		            <!-- <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div>
		            </div> -->
		          </form>
		          <p class="text-center">Not a member? <a href="/register">Sign Up</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

<%- include('./layouts/footer.ejs') %>