<%- include('../layouts/header.ejs') %>


<body class="userLogin">
        <div class="container">
          <div class="wrapper">
            <div class="title"><span>Login Form</span></div>
            <form action="/" method="post" onsubmit="return validateLoginForm()">
              <div class="row">
                <input type="email" placeholder="Enter Email" id="email" name="email" required>
              </div>
              <div class="row">
                <input type="password" placeholder="Password" id="password" name="password" required>
              </div>
              <div class="row button">
                <input type="submit" value="Login">
              </div>
              <div class="signup-link">Not a member? <a href="/register">Signup now</a></div>
            </form>
            <% if (typeof message !== 'undefined') { %>
              <p class="successfully"><%= message %></p>
            <% } %>
          </div>
        </div>
    


<%- include('../layouts/footer.ejs') %>