<%- include('./layouts/header2.ejs') %>

    <style>
        .divv {
            text-align: center;
            /* Center-align text within the div */
            margin: auto;
            /* Center the div itself horizontally */
            max-width: 600px;
            /* Optional: Set a maximum width for the content */
            padding: 20px;
            /* Optional: Add padding for better aesthetics */
            font-family: Poppins-Regular;
        }
        .lot {
            text-align: center;
        }
    </style>

    <div class="divv">
        <h1 style="font-family: Poppins-Regular;">Thank You for Your Purchase!</h1>
        <p>Your order has been successfully placed.</p>
    </div>

    <!-- Lottie animation -->
    <div class="lot">
        <img src="/car/userAssets/LOTTI.gif" alt="">
    </div>

    <div class="d-flex justify-content-center">
    <a href="/userProfile">
        <button
            class="flex-c-m stext-101 cl0 size-115 mt-5 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
            View Orders
        </button>
    </a>
</div>

    <%- include('./layouts/footer2.ejs') %>